body{
  
   
    background-color: rgb(115, 112, 112);
    font-family: sans-serif;

}
#main{
    margin-top: 2%;
    padding: 5%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
